.overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.56);
  display: none;
  z-index: 1;

  .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

  }
  .form__label{
    width: 100%;
    @include text($Roboto, 16px, white);

  }
  .form__input{
    @include text($Roboto, 16px, #131313);
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #717880;
    outline: none;
    background: none;
    padding-left: 10px;

  }
  .form__button{
    @include text($Roboto, 16px, #131313);
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
    &:hover{
      @include text($Roboto, 16px, #fff);
      background: #46856E;
      transition: 1s;
    }
  }
  .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 600px;
    padding: 32px 40px 42px;
    border-radius: 10px;
    background: linear-gradient(to top left, powderblue, pink);
    z-index: 10;

    &__consultation {
      display: none;
      &-title {
        @include text($Roboto, 25px, #131313);
        text-align: center;
        margin-bottom: 10px;
      }
      &-subtitle {
        @include text($Roboto, 14px, #131313);
        line-height: 25px;
        text-align: center;
        margin-bottom: 24px;
      }
    }
    &__close{
      position: absolute;
      top: 0;
      right: -41px;
      width: 21px;
      height: 21px;
      &:hover{
        cursor: pointer;
        background-color: rgba(#FFFFFF,0.5);
        border-radius: 10%;
      }
      &::before{
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        width: 100%;
        height: 2px;
        background-color: white;
        transform: rotate(45deg);

      }

      &::after{
        position: absolute;
        left: 0;
        top: 50%;
        content: '';
        width: 100%;
        height: 2px;
        background-color: white;
        transform: rotate(-45deg);

      }
    }

    &__order{
      display: none;
      &-title {
        @include text($Roboto, 18px, #0d0d0d);
        text-align: center;
        margin-bottom: 7px;
      }

      &-subtitle {
        @include text($Roboto, 18px, #0d0d0d);
        text-align: center;
        margin-bottom: 24px;
      }

    }
    &__thanks{
      display: none;
      &-title {
        @include text($Roboto, 18px, #0d0d0d);
        text-align: center;
        margin-bottom: 31px;

      }

      &-subtitle {
        @include text($Roboto, 18px, #0d0d0d);
        text-align: center;
        margin-bottom: 24px;
        line-height: 30px;
      }
    }
    &__buy-info{
      display: none;
    }


  }
}